<footer class="footer">
	<div class="container">
      <div class="row">
        <div class = "wrapper" {{action "addNote"}}>
          <div class = "circle">
	          <span class="glyphicon glyphicon-plus"></span>
          </div>
	      </div>
	  </div>
  </div>
</footer>