{{view "navBar"}}
<div class="container">
    <div class="row">
        <div class="col-md-9 main">
            <p class="lead">Make Notes. Not War.</p>
        </div>
        {{view "sideBar"}}
    </div>
</div>
