{{view "navBar"}}
<div class="container">
    <div class="row-fluid">
        <div class="col-md-9 main bootcards-cards">
            <p class="lead">Make Crisp Notes. Not War.</p>
            {{#each note in model}}
                {{note-card data=note}}
            {{/each}}
        </div>
        {{view "sideBar"}}
    </div>
</div>
{{view "footerHome"}}
