<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Notes</h1>
                <p class="lead">Make Crisp Notes. Not War.</p>
                <p class="bs-component">
                    {{#link-to 'home' classNames="btn btn-default"}}Get Started <strong>></strong>{{/link-to}}
                </p>
            </div>
        </div>
    </div>
</div>