<div class='col-md-3 sidebar'>
    <h4>Status</h4>
    <table class="table">
        <thead>
            <tr></tr>
              <th>
                  High
              </th>
        </thead>
        <tbody>
          <tr>
	          <td>
		          Jushiro Ukitake
	          </td>
          </tr>
        </tbody>
        <thead>
            <tr></tr>
              <th>
                  Med
              </th>
        </thead>
        <tbody>
          <tr>
	          <td>
		          Jushiro Ukitake
	          </td>
          </tr>
        </tbody>
        <thead>
            <tr></tr>
              <th>
                  Low
              </th>
        </thead>
        <tbody>
          <tr>
	          <td>
		          Jushiro Ukitake
	          </td>
          </tr>
        </tbody>
    </table>
</div>
